body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-top: 20px;
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.div{
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.column{
    flex-direction: row;
    flex: 1;
}

.row{
    flex-direction: column;
}
